@use '../../layoutMixin.scss' as lm;

.P3_section2{
    @extend %base-layout;
    height: 100vh;
    .container{
        @include lm.container-layout(100%, 80%);
        .photo{
            width: 50%;
            height: 100%;
            align-self: start;

            img{
                width: 100%;
                height: auto;
            }
        }
        .right{
            width: 40%;
            height: 50%;
            display: flex;
            justify-content: end;
            align-items: center;
            p{
                font-size: 1.3rem;
                width: 60%;
                line-height: 2;
            }
        }
    }
}