@use '../../layoutMixin.scss' as lm;

.P1_section4{
    height: 100vh;
    @extend %base-layout;
    background-color: #FFFBF5;
    .container{
        @include lm.container-layout(100%, 80%);
        .right{
            width: 50%;
            height: 100%;
            background-image: url('../../../assets/images/table.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .left{
            @include lm.container-layout-column(50%, 80%);
            div{
                @include lm.container-layout-column(60%, 70%);
                h2{font-size: 6rem;}
                p{font-size: 1.7rem;}
            }
            button{
                background-color: #FF8A00;
                border: none;
                border-radius: 50px;
                color: white;
                font-size: 1.4rem;
                width: 30%;
                height: 12%;
            }
        }
    }   
}