%base-layout {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin container-layout($width, $height){
    width: $width;
    height: $height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin container-layout-column($width, $heihght){
    width: $width;
    height: $heihght;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}